.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .grid {
    margin: 12px;
  }

  @media (min-width: 0) and (max-width: 600px) {
    display: flex;
    flex-direction: column,
  }
}