.container {
  background-color: gray;
  background-image: url(https://source.unsplash.com/random);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  position: relative;
}

.content {
  padding-top: 25%;
  padding-left: 25%;
  position: relative;
}

.description {
  @media (min-width: 0) and (max-width: 375px) {
   font-size: 1.3rem !important;
  }
  @media (min-width: 0) and (max-width: 360px) {
   font-size: 1.2rem !important;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}