.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 8px;
  width: 20vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input {
  margin-top: 8px !important;
  width: 100%;
}