.card {
  height: auto;
  overflow-y: auto !important;
  padding: 16px;

  @media (min-width: 0) and (max-width: 1280px) {
    height: 100%;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}