.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (min-width: 0) and (max-width: 600px) {
    display: flex;
    flex-direction: column,
  }
}

.login {
  padding-top: 15%;
}

.tagline {
  height: 100%;
}