.column {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input {
  margin-top: 8px !important;
}

.loginButton {
  margin: 16px 10% !important;
}