.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.image {
  max-width: 240px;
  max-height: 240px;

  &.rounded {
    border-radius: 50% !important;
  }
}

.imageContainer {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.input {
  display: none !important;
}