.avatar {
  margin-right: 8px;
}

.sectionDesktop {
  display: flex !important;

  @media (min-width: 0) and (max-width: 959px) {
    display: none !important;
  }
}

.sectionMobile {
  display: none !important;

  @media (min-width: 0) and (max-width: 959px) {
    display: flex !important;
  }
}