.column {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.googleButton {
  background-color: #d73d32 !important;
  color: #fff !important;
  margin-bottom: 8px !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.input {
  margin-top: 8px !important;
}

.loginButton {
  margin: 16px 10% !important;
}

.separator {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100px;
}

.separator .text {
  display: inline-flex;
  padding: 0 8px;
  position: relative;
  z-index: 9999;
}

.separator .text:before,
.separator .text:after {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  width: 30px;
}

.separator .text:after {
  left: 100%;
}

.separator .text:before {
  right: 100%;
}

.signupContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px 8px;
}

.typography {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}