.emptyImage {
  font-size: 140px !important;
}

.emptyImageContainer {
  display: flex;
  height: 140px;
  justify-content: center;
}

.icon {
  color: white !important;
}

.tileBar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%) !important;
}

$font-size: 0.875rem;
$line-height: 1.43;
$lines-to-show: 3;

.trucatedParagraph {
  display: block;
  display: -webkit-box;
  height: $font-size * $line-height * $lines-to-show;
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}