.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: center;
  overflow: auto;
  width: 100%;

  .content {
    height: 100%;
    max-width: 512px !important;
    width: 90%;

    .back {
      font-size: 15px;
      text-align: center;
    }

    .code {
      font-size: 112px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 16px;
      text-align: center;
    }

    .message {
      color: rgba(0, 0, 0, 0.54);
      font-size: 24px;
      margin-bottom: 8px;
      text-align: center;
    }
  }
}